.menu-bar {
    -fx-padding: 0;
}

.button {
    -fx-background-color: #1568AA;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.5;
    -fx-text-fill: #303448;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.button:hover {
    -fx-background-color: #0F4A77;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #1568AA;
    -fx-border-width: 0;
}

.combo-box {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.5;
    -fx-background-color: #1568AA;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-padding: 0;
}

.combo-box:hover {
    -fx-background-color: #0F4A77;
}

.combo-box .list-cell {
    -fx-background: white;
}